.paginatify {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;
}
.paginatify__page,
.paginatify__break,
.paginatify__arrow--prev,
.paginatify__arrow--next {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    cursor: pointer;
}

.paginatify__arrow--prev,
.paginatify__arrow--next {
    background-size: 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    font-size: 0;
}

.paginatify__arrow--prev {
    background-image: url("../../../public/images/arrows/arrow-prev.svg");
}

.paginatify__arrow--next {
    background-image: url("../../../public/images/arrows/arrow-next.svg");
}

.paginatify__page:hover,
.paginatify__arrow--prev:hover:not(.paginatify__arrow--disabled),
.paginatify__arrow--next:hover:not(.paginatify__arrow--disabled) {
}

.paginatify__page--active {
}

.paginatify__arrow--disabled {
    opacity: 0.5;
}

.paginatify__break {
    opacity: 0.5;

    cursor: default;
}

.paginatify__counter {
    display: none;
    justify-content: center;
    align-items: center;
}

/* 
    Don't forget to show the counter on small screens!
    Replace 720px with the resolution you need. 
 */
@media (max-width: 1024px) {
    .paginatify__page,
    .paginatify__break {
        display: none;
    }
    .paginatify__counter {
        display: flex;
    }
}
